#main
  .container
    .row
      #mainbar.span12
        %section#resources.box
          %table.item-list
            %tbody
              = render :partial => 'resources/resource', :collection => @resources
        %section#resources.box
          %table.item-list
            %tbody
              = render :partial => 'topics/topic', :collection => @topics
      #sidebar.span4
        - if logined?
          = render :partial => 'shared/sidebar_profile'
        - else
          = render :partial => 'shared/sidebar_login'
