%span.marks_count
  - if logined?
    - if topic.marked_by?(current_user)
      = link_to t('.marked'), mark_topic_path(topic), :method => :delete, :class => 'lbtn marked', :remote => true
    - else
      = link_to t('.mark'), mark_topic_path(topic), :method => :post, :class => 'lbtn mark', :remote => true
  - if topic.marker_count > 0
    = t '.marker_count', :count => topic.marker_count
