%td.avatar
  = link_avatar_to_person notification.mentionable.user
%td
  - case notification.mentionable
  - when Reply
    - reply = notification.mentionable
    - topic = reply.topic
    %h3
      = link_to_person reply.user
      mention you in
      = link_to topic.title, topic_path(topic, :page => topic.last_page, :anchor => topic.last_anchor)
      = time_ago_in_words notification.created_at
      ago.
      - if !notification.read?
        %span.new.label.warning New
    ~ format_text reply.content, :mention_names => reply.mentioned_user_names
