body {
  padding-top: 40px;
}

html, body {
  background-color: #EEE;
}

.secondary-nav .notifications a {
  font-weight: bold;
  padding: 11px 8px 10px;
}

.secondary-nav .notifications a .count {
  background-color: #666;
  padding: 2px 6px;
  border-radius: 2px;
  color: #999;
  -moz-border-radius: 2px;
}

footer div > p {
  text-align: center;
}

.box {
  background-color: white;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
  -moz-box-shadow: 0 0 0 1px #DDD;
  -webkit-box-shadow: 0 0 0 1px #DDD;
  box-shadow: 0 0 0 1px #DDD;
}

#login-form, #signup-form {
  margin: 90px auto 70px;
  width: 380px;
  padding: 20px;
}

.field_with_errors label.message {
  color: red;
  font-weight: normal;
  display: inline-block;
  float: none;
  text-align: left;
  width: auto;
  margin-left: 5px;
  padding-top: 4px;;
}

#main {
  margin-top: 20px;
}

table.item-list {
  border: none;
  margin-bottom: 0;
}
table.item-list th, table.item-list td {
  padding: 12px 12px 11px;
  line-height: 20px;
}
table.item-list td.avatar {
  padding-right: 0;
  width: 48px;
  line-height: 0;
}
table.item-list td.avatar img {
  height: 48px;
  width: 48px;
}
table.item-list td span.domain {
  font-weight: bold;
}
table.item-list td h3 {
  font-size: 14px;
  padding-bottom: 10px;
  line-height: 18px;
}
table.item-list td.reply-count a {
  float: right;
  color: #FFF;
  background-color: #BFBFBF;
  padding: 2px 9px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}

table.item-list td.reply-count a:visited {
  background-color: #EEE;
}

table.item-list td.reply-count a:hover {
  background-color: #AAA;
}

table.item-list th + th, table.item-list td + td {
  border-left: none;
}

a.lbtn,
.tags a {
  line-height: 16px;
  color: white;
  font-weight: bold;
  font-size: 11px;
  padding: 1px 4px;
  background-color: #BFBFBF;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

a.lbtn.notice {
  background-color: #62CFFC;
}

a.lbtn.important {
  background-color: #C43C35;
}

a.lbtn.success {
  background-color: #46A546;
}

a.lbtn:hover,
.tags a:hover {
  text-decoration: none;
  background-color: #AAA;
}

a.lbtn.mark:hover,
a.lbtn.marked {
  background-color: #F89406;
}

a.lbtn.marked:hover {
  background-color: #BFBFBF;
}

section {
  overflow: hidden;
}

section,
#mainbar section {
  padding: 14px;
}
#sidebar section {
  padding: 10px;
}
section#topics, section#replies {
  padding: 0;
}

#sidebar section.profile .avatar {
  float: left;
  width: 64px;
}

#sidebar section.profile .avatar img {
  height: 64px;
  width: 64px;
}

#sidebar section.profile .info {
  float: left;
  margin-left: 10px;
}

#sidebar section ul.nice-list {
  list-style: none;
  margin: 0;
}

#sidebar section ul.nice-list li {
  padding-bottom: 5px;
  border-bottom: 1px dashed #EEE;
  margin-bottom: 5px;
}

table.clear-table {
  padding: 0;
  margin: 0;
  border: none;
}

table.clear-table td {
  padding: 0;
  margin: 0;
  border: none;
  line-height: 20px;
}

#topic header {
  margin-bottom: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid #EEE;
}

#topic header td.avatar {
  width: 72px;
}

#topic header td.avatar img {
  width: 72px;
  height: 72px;
}

#replies header {
  margin-bottom: 5px;
}

.pagination ul {
  background: white;
}

.settings header {margin-bottom: 20px;}
.settings header table.clear-table td.avatar {width: 36px; padding-right: 10px;}
.settings header table.clear-table td.avatar img {width: 36px; height: 36px;}
