body {
  padding-top: 40px;
}

html, body {
  background-color: #EEE;
}

#remote-loader {
  position: fixed;
  left: 50%;
  top: 45px;
  margin-left: -40px;
  width: 80px;
  text-align: center;
}

.secondary-nav .notifications a {
  font-weight: bold;
  padding: 11px 8px 10px;
}

.secondary-nav .notifications a .count {
  background-color: #666;
  padding: 2px 6px;
  border-radius: 2px;
  color: #999;
  -moz-border-radius: 2px;
}

footer div > p {
  text-align: center;
}

.box {
  background-color: white;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
  -moz-box-shadow: 0 0 0 1px #DDD;
  -webkit-box-shadow: 0 0 0 1px #DDD;
  box-shadow: 0 0 0 1px #DDD;
}

section.box.span16 {
  width: 910px;
}

section.box .span4 {
  width: 205px;
}

section.box .span12 {
  width: 685px;
}
section.box .span16 {
  width: 910px;
}

#login-form, #signup-form {
  margin: 90px auto 70px;
  width: 380px;
  padding: 20px;
}

label.message{
  color: red;
  font-weight: normal;
  display: inline-block;
  float: none;
  text-align: left;
  width: auto;
  margin-left: 5px;
  padding-top: 4px;;
}

form.button_to {
  margin: 0;
}

#main {
  margin-top: 20px;
}

table.item-list {
  border: none;
  margin-bottom: 0;
}
table.item-list th, table.item-list td {
  padding: 12px 12px 11px;
  line-height: 20px;
}
table.item-list td.avatar {
  padding-right: 0;
  width: 48px;
  line-height: 0;
}
table.item-list td.avatar img {
  height: 48px;
  width: 48px;
}
table.item-list td span.domain {
  font-weight: bold;
}
table.item-list td h3 {
  font-size: 14px;
  padding-bottom: 10px;
  line-height: 18px;
}
table.item-list td.reply-count a {
  color: #FFF;
  background-color: #BFBFBF;
  padding: 2px 9px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
}

table.item-list td.reply-count a:visited {
  background-color: #EEE;
}

table.item-list td.reply-count a:hover {
  background-color: #AAA;
}

table.item-list th + th, table.item-list td + td {
  border-left: none;
}

a.lbtn,
.tags a {
  line-height: 22px;
  color: white;
  font-weight: bold;
  font-size: 11px;
  padding: 1px 4px;
  background-color: #BFBFBF;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

a.lbtn.notice {
  background-color: #62CFFC;
}

a.lbtn.important {
  background-color: #C43C35;
}

a.lbtn.success {
  background-color: #46A546;
}

a.lbtn:hover,
.tags a:hover {
  text-decoration: none;
  background-color: #AAA;
}

a.lbtn.mark:hover,
a.lbtn.marked {
  background-color: #F89406;
}

a.lbtn.marked:hover {
  background-color: #BFBFBF;
}

a.lbtn.vote:hover,
a.lbtn.voted {
  background-color: #46A546;
}

a.lbtn.voted:hover {
  background-color: #BFBFBF;
}

section {
  overflow: hidden;
}

section,
#mainbar section {
  padding: 14px;
}

#sidebar section {
  padding: 10px;
}

#sidebar section header {
  margin-bottom: 10px;
  font-weight: bold;
}

section#resources,
section#topics,
section#replies {
  padding: 0;
}

section#topics table.item-list td,
section#resources table.item-list td {
  vertical-align: middle;
}

table.item-list td.last {
  text-align: right;
}

#sidebar section.profile .avatar {
  float: left;
  width: 64px;
}

#sidebar section.profile .avatar img {
  height: 64px;
  width: 64px;
}

#sidebar section.profile .info {
  float: left;
  margin-left: 10px;
}

#sidebar section ul.nice-list {
  list-style: none;
  margin: 0;
}

#sidebar section ul.nice-list li {
  padding-bottom: 5px;
  border-bottom: 1px dashed #EEE;
  margin-bottom: 5px;
}

table.clear-table {
  padding: 0;
  margin: 0;
  border: none;
}

table.clear-table td {
  padding: 0;
  margin: 0;
  border: none;
  line-height: 20px;
}

#topic header {
  margin-bottom: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid #EEE;
}

#topic header td.avatar {
  width: 72px;
}

#topic header td.avatar img {
  width: 72px;
  height: 72px;
}

#replies header {
  margin-bottom: 5px;
}

.pagination ul {
  background: white;
}

.settings header {margin-bottom: 20px;}
.settings header table.clear-table td.avatar {width: 36px; padding-right: 10px;}
.settings header table.clear-table td.avatar img {width: 36px; height: 36px;}

.settings .edit_profile td.avatar {width: 80px; height: 80px; padding-right: 10px;}

#profile {overflow: hidden;}
#profile .left-side {width: 160px; float: left;}
#profile .left-side .avatar img {width: 160px; height: 160px;}
#profile .right-side {float: right; width: 720px;}
#profile ul.nice-list {list-style: none; margin-left: 9px;}
#profile ul.nice-list li {line-height: 22px;}

#comments ul {
  list-style: none;
  margin: 0 0 0 34px;
}

#comments > ul {
  margin: 0 0 15px 0;
}

#comments li {
  color: #404040;
}

#comments .avatar {
  display: table-cell;
  width: 24px;
  padding-right: 10px;
  vertical-align: top;
}

#comments .avatar img {
  width: 24px;
  height: 24px;
}

#comments .comment {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}

#comments .comment .info {
  margin-bottom: 10px;
}

#comments .comment .content {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #CCC;
}

#comments .info {
  color: gray;
  font-weight: bold;
}

.new_comment textarea {
  width: 80%;
}

#comments form .btn {
  margin-right: 10px;
}
