/*
 *= require 'wmd'
 */

#editor input[type=text],
#editor textarea {
  width: 662px;
}

#editor-preview {
  border: 2px dotted #CCC;
  margin-top: 10px;
  padding: 3px;
}

#editor label.message {
  float: none;
  text-align: left;
  width: auto;
}

#editor .tag-editor {
  width: 662px;
  line-height: 18px;
  border: 1px solid #CCC;
  padding: 0 4px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  ;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

#editor .tag-editor.focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

#editor .tag-editor input {
  width: auto;
  border: none;
  border-radius: none;
  -moz-border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
  margin: 4px 0;
}

#editor .tag-editor input:focus {
  border-color: none;
  box-shadow: none;
}

.tag-editor .tag-preview span.tag {
  color: white;
  font-weight: bold;
  font-size: 11px;
  padding: 1px 4px;
  background-color: #AAA;
  border-radius: 3px;
  -moz-border-radius: 3px;
  margin: 4px 4px 4px 0;
  display: inline-block;
  line-height: 16px;
}

.tag-editor .tag-preview span.delete {
  margin-left: 3px;
  cursor: pointer;
  font-weight: bold;
  color: #CCC;
}

.tag-editor .tag-preview span.delete:hover {
  color: #FFF;
}
