/*
 *= require 'wmd'
 *= require 'tag_editor'
 */

#editor input[type=text],
#editor textarea {
  width: 662px;
}

#editor-preview {
  border: 2px dotted #CCC;
  margin-top: 10px;
  padding: 3px;
}

#editor label.message {
}

#editor .tag-editor {
  width: 662px;
}

#editor .tag-editor input {
  width: auto;
}

.wmd-prompt-dialog {
  background-color: white;
  padding: 10px 15px 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #DDD;
}

#editor-preview img {
  max-width: 100%;
}
