.topbar
  .topbar-inner
    .container
      %h3{:id => 'logo'}
        %a{:href => '#'} Code Campo
      %ul.nav
        %li
          %a{:href => '#'} Home
        %li
          %a{:href => '#'} Resources
        %li
          %a{:href => '#'} Topics
      %ul.nav.secondary-nav
        - if logined?
          %li.notifications
            %a{:href => '#'}
              %span.count 0
          %li.dropdown{'data-dropdown' => 'dropdown'}
            %a{:href => '#', :class => 'dropdown-toggle'}
              = current_user.name
            %ul.dropdown-menu
              %li
                %a{:href => '#'} Profile
              %li
                %a{:href => '#'} Settings
              %li.divider
              %li
                = link_to 'Logout', logout_path, :method => :delete
        - else
          %li
            = link_to 'Signup', signup_path
          %li
            = link_to 'Login', login_path
